{{#link-to 'item' item.id}}
  <img class="images" src='{{item.image}}'>
  <br>
  {{item.name}} ${{item.price}}
{{/link-to}}
<br>
{{model.item.category}}, {{item.year}}
<br>
{{item.description}}
<br>
{{item.condition}}{{item.rating}}
<button class="btn-success" {{action ‘addToCart’ item}}>Add to Cart</button>
